

.mapouter {
    margin-top: -103px;
    width: 100%;
    /* position: fixed; */
    /* margin-left: 55%; */
    height: 20%;
  }
  
  .gmap_canvas {
    position: sticky;
  }
  
  #gmap_canvas {
    width: 100%;
    height: 500px;
    margin-top: 103px;
  }
  